<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Battery_state</key>
	<false/>
	<key>Bluetooth_state</key>
	<false/>
	<key>CPU_mini_label</key>
	<false/>
	<key>CPU_state</key>
	<true/>
	<key>CPU_updateInterval</key>
	<integer>2</integer>
	<key>CPU_updateTopInterval</key>
	<integer>2</integer>
	<key>CPU_widget</key>
	<string>mini</string>
	<key>Clock_state</key>
	<false/>
	<key>Disk_state</key>
	<false/>
	<key>GPU_state</key>
	<false/>
	<key>LaunchAtLoginNext</key>
	<true/>
	<key>Network_state</key>
	<false/>
	<key>RAM_mini_label</key>
	<false/>
	<key>RAM_state</key>
	<true/>
	<key>RAM_updateInterval</key>
	<integer>2</integer>
	<key>RAM_updateTopInterval</key>
	<integer>2</integer>
	<key>RAM_widget</key>
	<string>mini</string>
	<key>Sensors_state</key>
	<false/>
</dict>
</plist>
